<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img"
                    src="https://www.nicepng.com/png/full/128-1284589_download-chat-icon-skype-group-logo.png"
                    class="online" alt="" />
                <p>Socket.io chat</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                <div id="status-options">
                    <ul id="namespaces">

                    </ul>

                </div>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>

            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQE3g9gHNfxGrQ/profile-displayphoto-shrink_200_200/0/1645507738281?e=1659571200&v=beta&t=wtwELdT1gp6ICp3UigC2EgutGAQgDP2sZKUx0mjCTwI"
                alt="" />
            <%if(req.user.first_name && req.user.last_name){%>
                <p><%=req.user.first_name +" "+ req.user.last_name%></p>
                <%}else if(req.user.username){%>
                    <p><%=req.user.username%></p>
                <%}else{%>
                    <p><%=req.user.mobile%></p>
                <%}%>
                    <input type="hidden" id="userID" value="<%=req.user._id%>">
                    <div class="social-media">
                        <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="onlineCount">-</span></span>
                    </div>
        </div>
        <div id="roomName">
            <h3></h3>
        </div>
        <div class="messages">
            <ul style="padding-bottom: 50px;">
                <li class="sent">
                   
                   
                </li>
                <li class="replies">
                  
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <div class="inputsss">

                    <input type="text" id="messageInput" placeholder="Write your message..." />
                </div>
                <div class="filess">

                    <input type="file" onchange="sendFile(this.files)"/>
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                </div>

                <div class="btns">
                    <button class="submit">send</i></button>
                    <button class="location" onclick="getLocation()">location</i></button>

                </div>


            </div>
        </div>
    </div>
</div>